<html>
    <head>
        <title>Home page</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
        <center><h1>Welcome {{ username }} to the home page of blogging application</h1></center>
        <br>

        <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Author</th>
<!--            <th>Content</th>-->
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for b in blog %}
        <tr>
            <td>{{ b.title }}</td>
            <td>{{ b.category }}</td>
            <td>{{ b.author }}</td>
<!--            <td>{{ b.content }}</td>-->
            <td>
        <a href="/viewblog/{{ b.id }}" class="button">View |</a>
        <a href="/updateblog/{{ b.id }}"><span class="glyphicon glyphicon-pencil" >Update |</span></a>
        <a href="/deleteblog/{{ b.id }}" class="button">Delete </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        <br>
        <br>
        <center><a href="/createblog" class="btn btn-primary">Create Blog</a></center>
        <br>
        <center><a href="/" class="button">Logout</a></center>
    </body>
</html>




<!--<h2><a href = '' class="button">About us</a></h2>-->
<!--        <h3><a href = '/createblog' class="button">Create Blog</a></h3>-->
<!--        <h3><a href = '' class="button">Update Blog</a></h3>-->
<!--        <h3><a href = '' class="button">Delete Blog</a></h3>-->
<!--        <h3><a href = '' class="button">Logout</a></h3>-->